@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-image: url("assets/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}



.search-input {
  line-height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2px 10px;
  width: 80%;
  text-align: center;
}

.search-button {
  background-color: #E9CBFF;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#searchResult {
  margin-top: 10px;
  font-weight: bold;
}

h3{
margin-bottom: 5px;
margin-top:-10px;
}
